.projectInfoContainer {
  display: flex;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid blue; */
}
.pin {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 5px 5px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  /* position: absolute; */
}
.pin:hover {
  cursor: grab;
}
.projectInfoImage {
  display: flex;
  height: 400px;
  width: 300px;
  border: 1px solid rgb(209, 209, 209);
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  flex-direction: column;
  color: grey;
  font-family: "Handlee", cursive;
  font-size: 20px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  animation: swing 5s;
  transform-origin: top center;
  z-index: 5;
}
@keyframes swing {
  20% {
    transform: rotate(10deg);
    transform-origin: top center;
  }
  40% {
    transform: rotate(-7deg);
    transform-origin: top center;
  }
  60% {
    transform: rotate(5deg);
    transform-origin: top center;
  }
  80% {
    transform: rotate(-5deg);
    transform-origin: top center;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: top center;
  }
}
.projectImageWrap {
  display: flex;
  height: 300px;
  width: 270px;
  border: 1px solid rgb(192, 192, 192);
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  filter: none;
  box-shadow: invert 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 2px 6px 2px rgb(60 64 67 / 15%);
}
.screenShot {
  /* display: flex; */
  background-size: cover;
  height: 100%;
  width: fit-content;
}
.links {
  text-decoration: none;
  color: grey;
  font-family: "Handlee", cursive;
}

@media only screen and (max-width: 600px) {
  .projectInfoContainer {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    position: fixed;
  }

  .projectInfoImage {
    height: 400px;
    width: 250px;
  }
  .projectImageWrap {
    height: 280px;
    width: 230px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    filter: none;
    box-shadow: invert 0 1px 2px 0 rgb(60 64 67 / 30%),
      0 2px 6px 2px rgb(60 64 67 / 15%);
  }
}
