.aboutBackground {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgb(248, 145, 108);
  z-index: -1;
}
a {
  text-decoration: none;
  color: white;
}
.aboutContainer {
  display: flex;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background: rgb(248, 145, 108);
}
.aboutContent {
  display: flex;
  width: calc(100% - 50px);
  position: absolute;
  height: 100%;
  left: 50px;
  /* border: 1px solid blue; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.titleWrap {
  display: inline-block;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 14px 14px 0px #857a77, -14px -14px 0px #ffffff;
}
.aboutTitle {
  color: white;
  padding: 15px;
  font-size: 60px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  font-family: "Bungee Outline", cursive;
  overflow: hidden;
  animation: typeOut 4s steps(20, end) infinite,
    blink-caret 0.7s step-end infinite;
}

.aboutDescription {
  display: flex;
  width: 40%;
  height: fit-content;
  color: white;
  margin: 40px;
  overflow: scroll;
}
.contacts {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .aboutContent {
    padding-top: 80px;
    width: 100%;
    left: 0;
    height: calc(100% - 50px);
    top: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
  .aboutTitle {
    font-size: 25px;
  }
  .aboutDescription {
    width: 80%;
    height: 50%;
  }
  .contacts {
    font-size: 15px;
    color: white;
  }
}

@keyframes typeOut {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}
