.background {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #f6f3e0;
  z-index: -1;
}
.projectsContainer {
  display: flex;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background: #f6f3e0;
}
.projectContent {
  display: flex;
  width: calc(100% - 50px);
  position: absolute;
  height: 100%;
  left: 50px;
  /* border: 1px solid blue; */
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.project1,
.project2,
.project3,
.project4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background: #dc382c;
  box-shadow: 14px 14px 0px #857a77, -14px -14px 0px #ffffff;
  transition: 0.5s;
  font-family: "Bungee Outline", cursive;
  color: white;
  z-index: 3;
}
.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover {
  box-shadow: 10px 10px 0px #ffffff, -10px -10px 0px #857a77;
  cursor: pointer;
}

.project1 {
  animation-name: slideDown;
  animation-duration: 0.5s;
}
.project2 {
  animation-name: slideDown;
  animation-duration: 0.75s;
}
.project3 {
  animation-name: slideDown;
  animation-duration: 1s;
}
.project4 {
  animation-name: slideDown;
  animation-duration: 1.25s;
}
.projectText {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  transform: scaleY(1.3);
  text-align: center;
}
.projectInfo {
  display: flex;
  width: 25%;
  height: 40%;
  overflow: scroll;
  gap: 10px;
  /* border: 1px solid red; */
}

@keyframes slideDown {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 40px;
  }
}
@keyframes slideLeft {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .projectContent {
    width: 100%;
    left: 0;
    height: calc(100vh - 75px);
    top: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .project1 {
    animation-name: slideLeft;
    animation-duration: 0.5s;
  }
  .project2 {
    animation-name: slideLeft;
    animation-duration: 0.75s;
  }
  .project3 {
    animation-name: slideLeft;
    animation-duration: 1s;
  }
  .project4 {
    animation-name: slideLeft;
    animation-duration: 1.25s;
  }
  .projectText {
    font-size: 25px;
  }
  .project1,
  .project2,
  .project3,
  .project4 {
    width: 175px;
    height: 80px;
  }
}
